@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* 
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Variavéis de estilo */

/* Cores */

:root  
{ 
  --1color: #dddddd;
  --2color: #febd11;
  --3color: #00246c;
}


/* Tamanhos */

:root
{
  --header-height: 65px;
  --section-padding-top: 85px;
}










/* Cabeçalho da página */

header 
{
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  transition: 0.4s ease;

  background-color: var(--3color);

  box-shadow: 0px 0px 10px #00000098;
}

/* .menuFixo 
{
  position: fixed;
  top: 0px;
  background-color: var(--3color);
} */

.uhlogo 
{
  display: flex;
  align-items: center;
}

.logo
{
  width: 40px;
  height: 35px;
  margin-right: 5rem;
}

.txlogo 
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-right: 0.5rem;
  font-size: 2rem;
  color: var(--1color);
}

/* .logoFixo 
{
  font-weight: 600;
  color: #ffffff;
} */

.nav__list  li 
{
  list-style: none;
  display: inline-block;
}

li > a 
{
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover
{
  color: #FEBD11;
}

/* Botão para efetuar o login*/

.entrar 
{
  width: 150px;
  height: 40px;
  margin-left: 5rem;
  background-color: var(--2color);
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 50px;
  color: var(--3color);
  transition: 0.5s;
}

.entrar:hover 
{
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--2color);
}

/* .entrarFixo 
{
  transition: 0.5s;
  background-color: var(--2color);
  color: var(--3color);
}

.entrarFixo:hover 
{
  background-color: #f7c02a;
  color: var(--3color);
} */

.fa-sign-in-alt 
{
  padding-right: 5px;
}

/* Conteudo do site */

/* .fundo 
{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-image: url(../img/bck-rbd.jpg);
  background-position: left center;
  background-size: cover;

}

.fundo-h1 
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-family: "Ubuntu", "san-serifs";
  text-transform: uppercase;

  color: white;
}

.fundo-p 
{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-family: "Ubuntu", "san-serifs";

  color: white;
} */



section
{
  padding-top: var(--section-padding-top);
}


section.home
{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-image: url(../img/bck-rbd.jpg);
  background-position: left center;

 background-size: cover;
}

section.servicos 
{
  min-height: 100vh;
  width: 100%;
}

section.quem_somos 
{
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

}

.container-quem-somos
{
  padding-top: 50px;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.img-quem-somos
{
  height: 450px;
  width: 450px;
  margin-right: 20px;

  border-radius: 10px;
}

.p-quem-somos
{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

  letter-spacing: 1px;
  
  width: 40%;


  text-indent: 0.5em;

  
}


.p-quem-somos::first-letter
{
  text-transform: uppercase;
}

section.contato 
{
  min-height: 100vh;
  width: 100%;
}

.titulo-area
{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'Bebas Neue', 'cursive';
}


/* FOOTER  */

footer 
{
  background-color: var(--2color);
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/



@media screen and (max-width: 1250px)
{
  
}



@media screen and (max-width: 1050px) 
{
  header 
  {
    justify-content: space-around;
    height: 55px;
  }


  section
  {
    padding-top: var(--section-padding-top);
  }


  .p-quem-somos
  {
    width: 70%;
  }

  .titulo-area
  {
    font-size: 2rem;
  }

  .logo
  {
    margin-top: 5px;
    height: 35px;
    width: 40px;
  }
  
  .txlogo
  {
    margin-left: -2rem;
    font-size: 1.4em;

  }

  .nav__menu 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 55px;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: #000000;
    transition: 0.5s;
  }

  .entrar
  {
    margin-left: 0rem;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .nav__item
  {
      margin: 1rem;
  }

  .nav__item  a 
  {
    font-size: 1rem;
  }

  .nav__link 
  {
    position: relative;
    color: #fff;
  }

  .nav__link:hover 
  {
    position: relative;
  }

  .nav__link:hover::after 
  {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: black;
  }

  .nav__toggle 
  {
    margin-right: -2rem; 
    margin-top: 5px;
    color: var(--1color);
    font-size: 1.5rem;
    cursor: pointer;
  }

 
  .nav__list 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }


  /*ACTIVE MENU*/

  .active::after 
  {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: black;
  }

  /*SHOW MENU*/

  .show 
  {
    right: 0;
  }
}

@media screen and (min-width: 1050px) 
{


  .nav__item 
  {
  margin-bottom: 0;

  }

  .nav__toggle 
  {
    display: none;
  }

  .nav__link 
  {
    color: var(--color2);
  }

  .nav__menu
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


}

@media screen and (max-width: 475px)
{
  header
  {
    justify-content: space-around;
  }
  
  .txlogo
  {
    margin-left: -20px;
  }

  .nav__toggle 
  {
    margin-right: -1rem;
}

.container-quem-somos
{
  flex-direction: column;

  padding-top: 20px;
}

.img-quem-somos
{
  width: 350px;
  height: 350px;
  margin-right: none;
  margin-bottom: 20px;
}

.p-quem-somos
{
  width: 80%;
  font-size: 16px;
}

}


@media screen and (max-width: 320px)
{
  header{
    justify-content: space-around;
  }
  
  .txlogo
  {
    margin-left: 5px;
  }

  .nav__toggle 
  {
    margin-right: 5px;
}

}

