@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body 
{
  background-color: #f0f0f0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 15px;

  font-family: Arial, Helvetica, sans-serif;
}


.seta
{
  margin-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.container 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 850px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container > h1 
{
  margin-bottom: 20px;
  font-size: 2em;

}

.h1 
{
  width: 70%;
  margin-bottom: 20px;


}

.h1-contido
{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.h1-contido p
{
  font-size: 2.3rem;
  font-weight: 600;
  font-family: 'Carter One', cursive;
  display: flex;
  gap: 2px;
  align-items: center;
  color: #79a83b;
}

.h1 h2 {
  font-size: 1.1em;
  text-align: center;
}

.logo
{
  width: 50px;
}


.container-form 
{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form 
{
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  width:70%;
  display: flex;
  flex-direction: column;
}


.imagem
{
  height: 100%;
  width: 80%;
  background-image: url(../img/old-lady-muleta.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
}

input[type="submit"] {
  font-size: 1.5rem;
  margin-top: -1rem;
  outline: none;
  border: none;
  height: 50px;
  width: 305px;
  background-color:#50781D;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition:  0.5s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #79a83b;
}

.cadastro{
  margin-top: 1rem;
  margin-left: 5px;
}

.side-img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px ;
  border-bottom-right-radius: 5px;
}

h2{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

/*Estilos do formulário*/

.container_input			  
{ 
  position:relative; 
  margin-bottom:45px; 
}



input 	
{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:304px;
  border:none;
  border-bottom:1px solid #757575;
}


input:focus
{
  outline:none; 
}

/* LABEL  */


label
{
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* ATIVO */

input:focus ~ label, input:valid ~ label 		
{
  top:-20px;
  font-size:14px;
  color:#79a83b;
}

/* BARRA INFERIOR */
.bar 	
{ position:relative; 
  display:block; 
  width:300px; 
}

.bar:before, .bar:after 	
{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#79a83b; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


.bar:before 
{
  left:30%;
}


.bar:after 
{
  right:28%; 
}

/* ATIVO */
input:focus ~ .bar:before, input:focus ~ .bar:after 
{
  width:71.5%;
}

/* HIGHLIGHTER  */
.highlight 
{
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* ATIVO */
input:focus ~ .highlight 
{
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMAÇÕES */
@-webkit-keyframes inputHighlighter 
{
	from { background:#79a83b; }
  to 	{ width:0; background:transparent; }
}


@-moz-keyframes inputHighlighter 
{
	from { background:#79a83b; }
  to 	{ width:0; background:transparent; }
}


@keyframes inputHighlighter 
{
	from { background:#79a83b; }
  to 	{ width:0; background:transparent; }
}

.spanzinho
{
  margin-top: 2rem;
  font-size: 0.9em;
  font-weight: 600;
}

.spanzinho
 a
{
  text-decoration: none;
  color: black;
}
.spanzinho
a:hover
{
  text-decoration: underline;
}


#copy{
  width: 850px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 500;
  color: #50781D;
}

#copy p {
  margin-left: 5px;
}

#copy a {
  text-decoration: none;
  color: #50781D;
  margin: 10px;
}

#copy a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 890px) {
  body 
  {
    background-color: rgb(255, 255, 255);
  }

  .container 
  {
    box-shadow: none;
    min-width: 300px;
    width: 100vw;
  }

  .imagem
  {
    display: none;
  }

  .h1{
    text-align: center;
  }

  .h1 
  h2
  {
    font-size: 2rem;
  }

  .h1-contido
  {
    align-items: center;
    justify-content: center;
  }

  .h1-contido
  p
  {
    padding-right: 10px;
  }

  h2
  {
    visibility: hidden;
  }

  .spanzinho
  {
    padding: 2rem;
  }
  
}